@model IEnumerable<GoalListingViewModel>

@{
    ViewBag.Title = "All Goals";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p class="text-center">
    <a asp-controller="Goals" asp-action="Create" class="btn btn-primary">Create New Goal</a>
</p>
<div class="list-group-horizontal row ml-1 justify-content-center">
    @foreach (var item in Model)
    {
    <div class="list-group-item form-group text-center col-md-4 mr-1 mb-3">
        <div class="form-group">
            <h5 class="mb-1">@item.Name</h5>
            <hr />
            <small>Completed on <b>@item.ProgressInPercents%</b></small>
            <br />
            <small>Due to <b>@item.DueDate</b></small>
            <br />
            <small class="mb-1"><b>@item.Tag</b></small>
        </div>
        
        <a asp-controller="Goals" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">View Details</a>
    </div>
        <div class="mb-3"></div>
    }
</div>