@model AllGoalsQueryModel

@{
    ViewBag.Title = "All Goals";
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalGoals / AllGoalsQueryModel.CarsPerPage);
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p class="text-center">
    <a asp-controller="Goals" asp-action="Create" class="btn btn-primary">Create New Goal</a>
</p>
<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Goals"
           asp-action="All"
           asp-route-currentPage="@previousPage"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Goals"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
    </div>
</div>
<div class="list-group-horizontal row ml-1 justify-content-center">
    @foreach (var goal in Model.Goals)
    {
        <div class="list-group-item form-group text-center col-md-4 mr-1 mb-3">
            <div class="form-group">
                <h5 class="mb-1">@goal.Name</h5>
                <hr />
                <small>Completed on <b>@goal.ProgressInPercents%</b></small>
                <br />
                <small>Due to <b>@goal.DueDate</b></small>
                <br />
                <small class="mb-1"><b>@goal.Tag</b></small>
            </div>

            <a asp-controller="Goals" asp-action="Details" asp-route-id="@goal.Id" class="btn btn-secondary">View Details</a>
        </div>
        <div class="mb-3"></div>
    }
</div>