@model IEnumerable<GoalListingViewModel>

@{
    ViewData["Title"] = "All Goals";
}

<h1>All Goals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="list-group-horizontal row">
    @foreach (var item in Model)
    {
    <div class="list-group-item form-group text-center col-md-4 mr-1 mb-3">
        <div class="form-group">
            <h5 class="mb-1">@item.Name</h5>
            <small>@item.ProgressInPercents%</small>
            <small>@item.DueDate</small>
        </div>
        <p class="mb-1">@item.Tag</p>
        <a asp-controller="Goals" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">View More</a>
    </div>
        <div class="mb-3"></div>
    }
</div>