@model GoalDetailsServiceModel

@{
    ViewBag.Title = "Goal Details";

    var userId = this.User.Id();
    var canSeeButtons = this.User.IsAdmin() || (this.goals.GetCreatorId(@Model.Id) != null &&
   this.goals.GetCreatorId(@Model.Id) == this.creators.IdByUser(userId));
}

@inject ICreatorService creators
@inject IGoalService goals

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (canSeeButtons)
{
    <p>
        <a asp-controller="Goals" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit Goal</a>
        <a asp-controller="Goals" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary">Delete Goal</a>
    </p>
}

<div class="card text-center">
    <div class="card-header">
        Goal Details
    </div>
    <div class="card-body">
        <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Name image">
        <h2 class="card-title mt-3">@Model.Name</h2>
        <p class="card-text">@Model.Description</p>
        @if (!Model.IsFinished)
        {
            @if (this.User.IsAdmin() || !this.creators.IsCreator(userId))
            {
                <a asp-controller="GoalWorks" asp-action="Work" asp-route-id="@Model.Id" class="btn btn-primary mb-3">Work on Goal</a>
            }
            @if (canSeeButtons)
            {
                <a asp-controller="Goals" asp-action="Finish" asp-route-id="@Model.Id" class="btn btn-primary mb-3">Finish Goal</a>
            }
            <a asp-controller="Comments" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary mb-3">Add Comment</a>
        }
        <p class="card-text mb-0"><b>@Model.Tag</b> Goal By <b>@Model.Creator</b></p>
        <p class="card-text mt-2">Finished: @(Model.IsFinished == true ? "yes" : "no")</p>
    </div>
    <div class="card-footer text-muted">
        Created on: @Model.CreatedOn | Due to: @Model.DueDate
    </div>
</div>
<br />
<div class="card text-center">
    <div class="card-header">
        Works on the "@Model.Name" goal
    </div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var work in Model.GoalWorks)
            {
                <li class="list-group-item"><b>@work.Description</b> by <b>@work.User</b></li>
            }
        </ul>
    </div>
    <div class="card-footer text-muted"></div>
</div>


