@model GoalDetailsViewModel

@{
    ViewData["Title"] = "Goal Details";
}

@if (Model != null)
{

    <h1>Goal Details</h1>
    <p>
        <a asp-action="Edit">Edit Goal</a>
    </p>
    <p>
        <a asp-action="Delete">Delete Goal</a>
    </p>
    <p>
        <a asp-action="Work">Work on Goal</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgressInPercents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tag)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ProgressInPercents)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Tag)
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">Goal not found.</h2>
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
}
