@model GoalDetailsViewModel

@{
    ViewData["Title"] = "Goal Details";
}

@if (Model != null)
{
    <h1>Goal Details</h1>
    <p>
        <a asp-controller="Goals" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit Goal</a>
        <a asp-controller="Goals" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary">Delete Goal</a>
    </p>
    <div class="card text-center">
        <div class="card-header">
            Goal Details
        </div>
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <p class="card-text">@Model.Description</p>
            <a asp-controller="Goals" asp-action="Work" asp-route-id="@Model.Id" class="btn btn-secondary mb-3">Work on Goal</a>
            <p class="card-text">@Model.Tag Goal - Completed on @Model.ProgressInPercents%</p>
        </div>
        <div class="card-footer text-muted">
            Created on: @Model.CreatedOn | Due to: @Model.DueDate
        </div>
    </div>
}
else
{
    <h2 class="text-danger">Goal not found.</h2>
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
}
